<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.264302 -0.431814 1.06697" rpy="3.11708 0.00841477 0.798877" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.264302 -0.431814 1.06697   0.921222 -0.388821 0.00864181 0.00965403 base_link camera_left" />
</launch>
