<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.233546 -0.411266 1.09089" rpy="3.13106 0.00775501 0.79825" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.233546 -0.411266 1.09089   0.92139 -0.388585 0.0056183 0.00334335 base_link camera_left" />
</launch>
